.TodoList-body {
  width: max-content;
}
.Todo {
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  font-size: smaller;
  width: 227%;
  transition: background-color 1s, color 1s;
  width: 560px;
  color: slategray;
}
.Todo:hover {
  background-color: lightsteelblue;
  color: unset;
}

.Todo:hover .Todo-edit-button {
  display: block;
}
.Todo-edit-button {
  display: none;
  margin-top: -8px;
  float: right;
  right: 25px;
  font-size: 30px;
  color: green;
  cursor: pointer;
  font-weight: bolder;
  background: none;
  border: none;
}
.Todo:hover .Todo-delete-button {
  display: block;
}
.Todo-delete-button {
  display: none;
  margin-top: -10px;
  float: right;
  font-size: 30px;
  color: red;
  cursor: pointer;
  background: none;
  border: none;
}
